<?xml version="1.0" encoding="UTF-8"?>
<config>
    <global>
        <version>1.0</version>
        <author><![CDATA[Jose Angel Delgado]]></author>
        <email><![CDATA[esojangel@gmail.com]]></email>
    </global>
    <db>
    	<default>
    		<![CDATA[principal]]>
    	</default>
    	<connections>
    		<principal>
    			<host><![CDATA[host]]></host>
    			<port><![CDATA[3306]]></port>
    			<dbname><![CDATA[db]]></dbname>		
                <username><![CDATA[user]]></username>
                <password><![CDATA[pass]]></password>
    		</principal>
            <test>
                <host><![CDATA[127.0.0.1]]></host>
                <port><![CDATA[3306]]></port>
                <dbname><![CDATA[test]]></dbname>      
                <username><![CDATA[root]]></username>
                <password><![CDATA[123]]></password>
            </test>
    	</connections>
    </db>
</config>
